<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<link th:href="@{/main.css}" rel="stylesheet">
<div th:fragment="header">
    <nav>
        <div class="container">
            <a href="/" id="logo">TouristGuide</a>
            <div class="nav-links">
                <a href="/attractions">See all attractions</a>
            </div>
        </div>
    </nav>
</div>


</body>
</html>
